/* Ustawienie tła */
.root-main {
    /*-fx-background-color: #2b2b2b; !* Ciemnoszare tło *!*/
    -fx-background-image: url("/com/itasoftware/itasoftware/photos/background-photo-v1.jpg");
    -fx-background-size: cover; /* lub contain w zależności od potrzeby */
    -fx-background-position: top;
}

/* Stylizacja etykiet */
.menu-label {
    -fx-text-fill: #ffffff; /* Biały tekst */
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
    -fx-padding: 0 0 1.4em 0;
}

.name-label {
    -fx-text-fill: #ffffff; /* Biały tekst */
    -fx-font-size: 3.2em;
    -fx-font-weight: bold;
}

/* Stylizacja przycisków */
.menu-button {
    -fx-pref-width: 13.4em;
    /*-fx-max-width: 300px;*/
    -fx-background-color: #3c3f41; /* Ciemnoszary */
    -fx-text-fill: #ffffff; /* Biały tekst */
    -fx-font-size: 1em;
    -fx-border-color: #555555; /* Lekko jaśniejszy obrys */
    -fx-border-width: 0.15em;
    /*-fx-border-radius: 5px;*/
    /*-fx-background-radius: 5px;*/
    -fx-padding: 0.7em;
}

/* Efekt podświetlenia przycisku */
.menu-button:hover {
    -fx-background-color: #4a4d50; /* Jaśniejszy szary */
}

.menu-vbox {
    -fx-background-color: #474747;
    -fx-padding: 1.4em;
    -fx-max-height: 40em;
    -fx-alignment: "TOP_CENTER";
    -fx-border-radius: 0.7em;
    -fx-background-radius: 0.7em;
    -fx-spacing: 0.7em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0.67em, 0.2, 0.27em, 0.27em);  // poprawne
}

.name-vbox {
    -fx-background-color: #474747;
    -fx-padding: 1.4em;
    -fx-border-radius: 0.7em;
    -fx-background-radius: 0.7em;
    -fx-spacing: 0.7em;
    -fx-pref-width: 70em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0.67em, 0.2, 0.27em, 0.27em);  // poprawne
}


.root-gray {
    -fx-background-color: #2b2b2b;
}

.generator-vbox {
    -fx-background-color: #474747;
    -fx-padding: 1.4em;
    -fx-alignment: "TOP_CENTER";
    -fx-border-radius: 0.7em;
    -fx-background-radius: 0.7em;
    -fx-spacing: 0.7em;
    -fx-pref-height: Infinity;
}

.generator-hbox {
    -fx-spacing: 1em;
}

.generator-text {
    -fx-font-size: 1em;
    -fx-text-fill: #ffffff;
}

.generator-slider {
    -fx-min-width: 15em;
}

.generator-slider .axis {
    -fx-tick-label-fill: #ffffff;  /* Kolor tekstu legendy */
    -fx-tick-mark-fill: #ffffff;   /* Kolor kresek */
}

.generator-region1 {
    -fx-pref-width: 3em;
}

.generator-region2 {
    -fx-pref-width: 2.2em;
}

.generator-combobox {
    -fx-min-width: 20em;
    -fx-border-color: #ffffff;
    -fx-background-color: #3c3f41;
}

.generator-combobox{
    -fx-min-width: 20em;
    -fx-border-color: #ffffff;
    -fx-background-color: #3c3f41;
    -fx-padding: 0.2em;
}

.generator-combobox .list-cell{
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
}

.generator-combobox .list-cell:hover{
    -fx-background-color: #ffffff;
    -fx-text-fill: #3c3f41;
}

.generator-button {
    -fx-pref-width: 15em;
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1em;
    -fx-border-color: #ffffff;
    -fx-padding: 0.5em;
}

.generator-button:hover {
    -fx-background-color: #4a4d50;
}

.generator-button-small {
    -fx-pref-width: 10em;
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1em;
    -fx-border-color: #ffffff;
    -fx-padding: 0.5em;
}

.generator-button-small:hover {
    -fx-background-color: #4a4d50;
}

.generator-button-big {
    -fx-pref-width: 17em;
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1em;
    -fx-border-color: #ffffff;
    -fx-padding: 0.5em;
}

.generator-button-big:hover {
    -fx-background-color: #4a4d50;
}


.menu-bar {
    -fx-background-color: -fx-background; /* Użycie systemowego koloru tła */
}

.menu-bar .menu-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0.1em 0.4em 0.1em 0.4em;
    -fx-font-size: 0.9em;
}

.menu-bar .menu-button:hover,
.menu-bar .menu-button:showing,
.menu-bar .menu-button:focused {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.menu-item {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-border-color: transparent;
    -fx-padding: 0.1em 0.4em 0.1em 0.4em;
    -fx-font-size: 0.9em;
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2); /* Przyciemniony hover w rozwijanym menu */
}


