/* Ustawienie tła */
.root-main {
    /*-fx-background-color: #2b2b2b; !* Ciemnoszare tło *!*/
    -fx-background-image: url("/com/itasoftware/itasoftware/photos/background-photo-v1.jpg");
    -fx-background-size: cover; /* lub contain w zależności od potrzeby */
    -fx-background-position: top;
}

/* Stylizacja etykiet */
.menu-label {
    -fx-text-fill: #ffffff; /* Biały tekst */
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
    -fx-padding: 0 0 1.4em 0;
}

.name-label {
    -fx-text-fill: #ffffff; /* Biały tekst */
    -fx-font-size: 3.2em;
    -fx-font-weight: bold;
}

/* Stylizacja przycisków */
.menu-button {
    -fx-pref-width: 13.4em;
    /*-fx-max-width: 300px;*/
    -fx-background-color: #3c3f41; /* Ciemnoszary */
    -fx-text-fill: #ffffff; /* Biały tekst */
    -fx-font-size: 1em;
    -fx-border-color: #555555; /* Lekko jaśniejszy obrys */
    -fx-border-width: 0.15em;
    /*-fx-border-radius: 5px;*/
    /*-fx-background-radius: 5px;*/
    -fx-padding: 0.7em;
}

/* Efekt podświetlenia przycisku */
.menu-button:hover {
    -fx-background-color: #4a4d50; /* Jaśniejszy szary */
}

.menu-vbox {
    -fx-background-color: #474747;
    -fx-padding: 1.4em;
    -fx-max-height: 40em;
    -fx-alignment: top-center;
    -fx-border-radius: 0.7em;
    -fx-background-radius: 0.7em;
    -fx-spacing: 0.7em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0.67em, 0.2, 0.27em, 0.27em);  // poprawne
}

.name-vbox {
    -fx-background-color: #474747;
    -fx-padding: 1.4em;
    -fx-border-radius: 0.7em;
    -fx-background-radius: 0.7em;
    -fx-spacing: 0.7em;
    -fx-pref-width: 70em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0.67em, 0.2, 0.27em, 0.27em);  // poprawne
}


.root-gray {
    -fx-background-color: #2b2b2b;
}

.obj-vbox {
    -fx-background-color: #474747;
    -fx-padding: 1.4em;
    -fx-alignment: top-center;
    -fx-border-radius: 0.7em;
    -fx-background-radius: 0.7em;
    -fx-spacing: 0.7em;
    -fx-pref-height: Infinity;
}

.obj-hbox {
    -fx-spacing: 1em;
}

.obj-hbox-center {
    -fx-spacing: 1em;
    -fx-alignment: top-center;
}

.obj-hbox2 {
    -fx-spacing: 2em;
}

.obj-text {
    -fx-font-size: 1em;
    -fx-text-fill: #ffffff;
}

.obj-text2 {
    -fx-font-size: 1em;
    -fx-text-fill: #ffffff;
    -fx-padding: 0.7em 0 0.7em 0;
    -fx-font-weight: bold;
}

.obj-slider {
    -fx-min-width: 15em;
}

.obj-slider .axis {
    -fx-tick-label-fill: #ffffff;  /* Kolor tekstu legendy */
    -fx-tick-mark-fill: #ffffff;   /* Kolor kresek */
}

.obj-region1 {
    -fx-pref-width: 3em;
}

.obj-region2 {
    -fx-pref-width: 2.2em;
}

.obj-combobox {
    -fx-min-width: 20em;
    -fx-border-color: #ffffff;
    -fx-background-color: #3c3f41;
}

.obj-combobox{
    -fx-min-width: 20em;
    -fx-border-color: #ffffff;
    -fx-background-color: #3c3f41;
    -fx-padding: 0.2em;
}

.obj-combobox .list-cell{
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
}

.obj-combobox .list-cell:hover{
    -fx-background-color: #ffffff;
    -fx-text-fill: #3c3f41;
}

.obj-button {
    -fx-pref-width: 15em;
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1em;
    -fx-border-color: #ffffff;
    -fx-padding: 0.5em;
}

.obj-button:hover {
    -fx-background-color: #4a4d50;
}

.obj-button-small {
    -fx-pref-width: 10em;
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1em;
    -fx-border-color: #ffffff;
    -fx-padding: 0.5em;
}

.obj-button-small:hover {
    -fx-background-color: #4a4d50;
}

.obj-button-big {
    -fx-pref-width: 17em;
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1em;
    -fx-border-color: #ffffff;
    -fx-padding: 0.5em;
}

.obj-button-big:hover {
    -fx-background-color: #4a4d50;
}

.obj-info-label {
    -fx-text-fill: #ff2222;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.obj-label {
    -fx-pref-width: 8em;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1em;
    -fx-padding: 0.7em 0 0.7em 0;
}

.obj-textfield {
    -fx-pref-width: 5em;
    -fx-pref-height: 1.5em;
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
}

.obj-spinner {
    -fx-max-width: 5em;
    -fx-pref-height: 1.5em;
    -fx-border-color: #ffffff;
}

.obj-spinner-wide {
    -fx-max-width: 6em;
    -fx-pref-height: 1.5em;
    -fx-border-color: #ffffff;
}

.obj-spinner .text-field,
.obj-spinner-wide .text-field {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
}

.obj-text-timer {
    -fx-font-size: 2em;
    -fx-text-fill: #3c3f41;
    -fx-font-weight: bold;
}

.obj-vbox-timer {
    -fx-max-width: 10em;
    -fx-pref-height: 3em;
    -fx-background-color: #ffffff;
    -fx-alignment: top-center;
    /*-fx-background-radius: 0.7em;*/
    -fx-padding: 0.5em 0 0.5em 0;
}

.obj-vbox-phase {
    -fx-background-color: #474747;
    -fx-padding: 0.4em;
    -fx-alignment: top-center;
    -fx-border-radius: 0.7em;
    -fx-background-radius: 0.7em;
    -fx-spacing: 0.7em;
    -fx-pref-height: Infinity;
}


.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #ffffff;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: #aaaaaa;
}

.spinner .increment-arrow,
.spinner .decrement-arrow {
    -fx-background-color: #3c3f41;
}


.menu-bar {
    -fx-background-color: #474747;
}

.menu {
    -fx-pref-width: 4em;
    -fx-min-width: 3em;
}

.menu .label {
    -fx-text-fill: #ffffff;
}

.context-menu {
    -fx-background-color: #2b2e2e;
    -fx-border-color: #2b2e2e;
    -fx-border-width: 0.6em;
}

.menu-bar .menu-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0.4em 0.4em 0.4em 0.4em;
    -fx-font-size: 0.9em;
}

.menu-bar .menu-button:hover,
.menu-bar .menu-button:showing,
.menu-bar .menu-button:focused {
    -fx-background-color: #2b2e2e;
}

.menu-item {
    -fx-background-color: #2b2e2e;
    -fx-text-fill: #ffffff;
    -fx-border-color: transparent;
    -fx-padding: 0.4em 0.4em 0.4em 0.4em;
    -fx-font-size: 1em;
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: #474747;
}


.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: #2b2b2b;
}


.alert-popup {
    -fx-background-color: #474747;
}

.alert-popup-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.alert-popup-vbox{
    -fx-padding: 3em 2em 2em 2em;
    -fx-spacing: 0.5em;
    -fx-alignment: center;
}

.alert-popup-hbox{
    -fx-padding: 2em 2em 2em 2em;
    -fx-spacing: 3em;
    -fx-alignment: center;
}

.alert-popup-bt-no{
    -fx-pref-width: 4em;
    -fx-pref-height: 2em;
    -fx-background-color: #b50000;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.5em;
    -fx-font-style: bold;
    -fx-border-color: #ffffff;

}

.alert-popup-bt-no:hover {
    -fx-background-color: #d30000;
}

.alert-popup-bt-yes{
    -fx-pref-width: 4em;
    -fx-pref-height: 2em;
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.5em;
    -fx-font-style: bold;
    -fx-border-color: #ffffff;
}

.alert-popup-bt-yes:hover {
    -fx-background-color: #4a4d50;
}